body {
    background-color: #C5C1C0;

}

button{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    width: 880px;
    height: 40px;
    color: white    ;
    background-color: #0069D7;
    
}

button:focus{
    cursor: pointer;
    
}

.container {
    background-color: #FFFFFF;
    width: 900px;
    margin: auto;
    padding: 20px;
    text-align: center;
    
}

.title {
    justify-content: center;
    padding: 30px;
    text-align: center;
}

.principal {
    background-color: #F5F5F5;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.384);
    border-radius: 4px;
}

.pratos {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.prato {
    padding: 20px;
}

.acompanhamento {
    background-color: #F5F5F5;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.384);
    border-radius: 4px;
}

.acomp {
    padding: 20px;
}

.dados {
    background-color: #F5F5F5;
    justify-content: center;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.384);
    border-radius: 4px;
}

.calcular{
    
    
    text-align: center;
}